<h1>Edit Users</h1>
<b>Username:</b> {{name}}<br/>
<form action="/changeValue?user={{uname}}" method="POST">
    <label> Office Number:</label><input type="text"  name="office"><br /> 
    <label> Phone Number:</label><input type="text"  name="phoneno"><br />
    <button type="submit">Change the Value</button>
</form>