
{{!-- {{#each users}} --}}
    <h3>username: {{uname}}  </h3>
    <h1>Office: {{office}}</h1>
    <h1>Phone #: {{phoneNo}}</h1>
    <br>


<button onclick="window.location = '/users/{{uname}}/edit'" name="changeValue" >Change Office and Phone Number</button>
{{!-- {{/each}} --}}